# SPDX-License-Identifier: MIT
name: CSB on openEuler
on:
  # Trigger when manually triggered via the GitHub UI
  workflow_dispatch:
  # Trigger when code is pushed to the 'main' branch
  push:
    branches:
      - main
env:
  TEST_IMG: openeuler-csb-image
  TEST_TAG: openeuler-csb:aarch64
  TEST_TAR: openeuler-csb-aarch64.tar

jobs:
  #
  # Build the image once, reuse it in all later jobs
  #
  build-image:
    name: openeuler-csb image
    runs-on: ubuntu-latest

    steps:

      - uses: actions/checkout@v4

      - uses: docker/setup-buildx-action@v3

      - uses: docker/build-push-action@v6
        name: build openEuler container
        with:
          context: .
          file: .github/workflows/openeuler/Dockerfile
          tags: ${{ env.TEST_TAG }}
          load: true
          build-args:
            BASE_IMAGE=openeuler/openeuler:24.03-lts-sp3

      - name: Save image
        run: docker save  ${{ env.TEST_TAG }} -o  ${{ env.TEST_TAR }}

      - name: Upload image artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.TEST_IMG }}
          path: ${{ env.TEST_TAR }}


  #
  # Run tests on openEuler via openeuler-csb image
  #
  openEuler:
    name: OpenEuler Tests
    needs: build-image
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        test:
          - min_mysql_close_dup_0_0
          - min_mysql_getdents64_close_0_0
          - min_mysql_lseek_read_1_0
          - min_mysql_newfstatat_0_1
          - min_mysql_newfstatat_openat_0_1
          - min_mysql_openat_fsync_0_2
          - min_mysql_pread64_faccessat2_0_5
          - min_mysql_read_close_0_0
          - min_mysql_read_write_0_1

    steps:
      - uses: actions/download-artifact@v4
        with:
          name: ${{ env.TEST_IMG }}

      - name: Load Docker image
        run: docker load -i ${{ env.TEST_TAR }}

      - name: Test ${{ matrix.test }}
        run: |
          docker run --rm --name csb \
            -v /boot:/boot \
            -v /lib/modules:/lib/modules \
            -v /var/run/docker.sock:/var/run/docker.sock \
            -w /root/csb \
            ${{ env.TEST_TAG }} \
            bash -c "scripts/fg-diff/run-single.sh config/${{ matrix.test }}.json"
